{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php",
        ".css",
        ".jpg",
        ".png",
        ".js"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components",
          "/_app",
          "README.md",
          ".gitignore"
        ],
        "exceptions": [
          "_app/styl/styles.min.styl",
          "_app/_js/scripts.js",
          "_app/index.pug",
          "_app/pug/main/1.main.pug",
          "_app/pug/main/2.advants.pug",
          "_app/pug/main/3.text-revs.pug",
          "_app/pug/main/4.video-revs.pug",
          "_app/pug/main/5.footer.pug",
          "_app/pug/main/6.scripts.pug",
          "_app/pug/scripts/chat.pug",
          "_app/pug/scripts/head_scripts.pug",
          "_app/pug/scripts/body_top_scripts.pug",
          "_app/pug/scripts/body_bottom_scripts.pug",
          "_app/pug/0.header.pug",
          "_app/pug/head.pug",
          "_app/styl/0.header.styl",
          "_app/styl/main/1.main.styl",
          "_app/styl/main/2.advants.styl",
          "_app/styl/main/3.text-revs.styl",
          "_app/styl/main/4.video-revs.styl",
          "_app/styl/main/5.footer.styl",
          "_app/styl/main/6.medias.styl",
          "_app/pug/main/3.revs.pug",
          "_app/pug/main/4.footer.pug",
          "_app/pug/main/5.scripts.pug",
          "_app/styl/main/3.revs.styl",
          "_app/styl/main/4.footer.styl",
          "_app/styl/main/5.medias.styl"
        ]
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/_app",
          "README.md",
          "README.html"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/weektravel.net",
      "timeout": 20000,
      "autoUpload": false,
      "connectionType": "ftp",
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1570186422516.3054,
          "ctimeMs": 1577699264906.2493,
          "date": "2020-01-13T07:40:51.731Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1570186422472.5708,
          "ctimeMs": 1578893198101.278,
          "date": "2020-01-13T07:40:52.035Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1578988897231.743,
          "ctimeMs": 1578988897231.743,
          "date": "2020-01-14T08:09:12.736Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1578992113653.9968,
          "ctimeMs": 1578992113653.9968,
          "date": "2020-01-14T08:55:18.988Z"
        },
        {
          "file": "docs/agreement.pdf",
          "mtimeMs": 1576227650274.7925,
          "ctimeMs": 1577699264773.7737,
          "date": "2020-01-13T07:40:53.410Z"
        },
        {
          "file": "docs/policy.pdf",
          "mtimeMs": 1576227650287.7942,
          "ctimeMs": 1577699264782.7778,
          "date": "2020-01-13T07:40:53.998Z"
        },
        {
          "file": "docs/rules.pdf",
          "mtimeMs": 1576227650295.792,
          "ctimeMs": 1577699264822.1184,
          "date": "2020-01-13T07:40:54.535Z"
        },
        {
          "file": "fonts/Gilroy.eot",
          "mtimeMs": 1578877190000,
          "ctimeMs": 1578895307499.1519,
          "date": "2020-01-13T07:40:54.980Z"
        },
        {
          "file": "fonts/Gilroy.svg",
          "mtimeMs": 1578877190000,
          "ctimeMs": 1578895307499.1519,
          "date": "2020-01-13T07:40:55.539Z"
        },
        {
          "file": "fonts/Gilroy.ttf",
          "mtimeMs": 1578877190000,
          "ctimeMs": 1578895307499.1519,
          "date": "2020-01-13T07:40:56.022Z"
        },
        {
          "file": "fonts/Gilroy.woff",
          "mtimeMs": 1578877190000,
          "ctimeMs": 1578895307499.1519,
          "date": "2020-01-13T07:40:56.414Z"
        },
        {
          "file": "fonts/Gilroy.woff2",
          "mtimeMs": 1578877190000,
          "ctimeMs": 1578895307514.7756,
          "date": "2020-01-13T07:40:56.769Z"
        },
        {
          "file": "fonts/GilroyBold.eot",
          "mtimeMs": 1578877208000,
          "ctimeMs": 1578895319626.1228,
          "date": "2020-01-13T07:40:57.207Z"
        },
        {
          "file": "fonts/GilroyBold.svg",
          "mtimeMs": 1578877208000,
          "ctimeMs": 1578895319626.1228,
          "date": "2020-01-13T07:40:57.768Z"
        },
        {
          "file": "fonts/GilroyBold.ttf",
          "mtimeMs": 1578877208000,
          "ctimeMs": 1578895319610.4973,
          "date": "2020-01-13T07:40:58.173Z"
        },
        {
          "file": "fonts/GilroyBold.woff",
          "mtimeMs": 1578877208000,
          "ctimeMs": 1578895319626.1228,
          "date": "2020-01-13T07:40:58.556Z"
        },
        {
          "file": "fonts/GilroyBold.woff2",
          "mtimeMs": 1578877208000,
          "ctimeMs": 1578895319626.1228,
          "date": "2020-01-13T07:40:58.924Z"
        },
        {
          "file": "fonts/GilroyLight.eot",
          "mtimeMs": 1578877228000,
          "ctimeMs": 1578895292399.455,
          "date": "2020-01-13T07:40:59.325Z"
        },
        {
          "file": "fonts/GilroyLight.svg",
          "mtimeMs": 1578877228000,
          "ctimeMs": 1578895292368.2012,
          "date": "2020-01-13T07:40:59.872Z"
        },
        {
          "file": "fonts/GilroyLight.ttf",
          "mtimeMs": 1578877228000,
          "ctimeMs": 1578895292368.2012,
          "date": "2020-01-13T07:41:00.295Z"
        },
        {
          "file": "fonts/GilroyLight.woff",
          "mtimeMs": 1578877228000,
          "ctimeMs": 1578895292368.2012,
          "date": "2020-01-13T07:41:00.666Z"
        },
        {
          "file": "fonts/GilroyLight.woff2",
          "mtimeMs": 1578877228000,
          "ctimeMs": 1578895292399.455,
          "date": "2020-01-13T07:41:01.029Z"
        },
        {
          "file": "fonts/GilroyMedium.eot",
          "mtimeMs": 1578877240000,
          "ctimeMs": 1578895277833.6729,
          "date": "2020-01-13T07:41:01.414Z"
        },
        {
          "file": "fonts/GilroyMedium.svg",
          "mtimeMs": 1578877240000,
          "ctimeMs": 1578895277818.0452,
          "date": "2020-01-13T07:41:01.989Z"
        },
        {
          "file": "fonts/GilroyMedium.ttf",
          "mtimeMs": 1578877238000,
          "ctimeMs": 1578895277818.0452,
          "date": "2020-01-13T07:41:02.369Z"
        },
        {
          "file": "fonts/GilroyMedium.woff",
          "mtimeMs": 1578877240000,
          "ctimeMs": 1578895277818.0452,
          "date": "2020-01-13T07:41:02.746Z"
        },
        {
          "file": "fonts/GilroyMedium.woff2",
          "mtimeMs": 1578877240000,
          "ctimeMs": 1578895277833.6729,
          "date": "2020-01-13T07:41:03.085Z"
        },
        {
          "file": "img/banner.jpg",
          "mtimeMs": 1578923818986.9014,
          "ctimeMs": 1578923818986.9014,
          "date": "2020-01-13T13:58:37.026Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1578923725805.281,
          "ctimeMs": 1578923725805.281,
          "date": "2020-01-13T13:58:43.511Z"
        },
        {
          "file": "img/icons/adv-3.svg",
          "mtimeMs": 1570186420869.2373,
          "ctimeMs": 1578901834274.3582,
          "date": "2020-01-13T08:06:33.534Z"
        },
        {
          "file": "img/icons/adv-4.svg",
          "mtimeMs": 1570186420799.156,
          "ctimeMs": 1578901837884.2188,
          "date": "2020-01-13T08:06:33.889Z"
        },
        {
          "file": "img/icons/phone.svg",
          "mtimeMs": 1570186421075.827,
          "ctimeMs": 1578901789336.2036,
          "date": "2020-01-13T08:06:34.582Z"
        },
        {
          "file": "img/icons/icon-footer-phone.svg",
          "mtimeMs": 1570186421363.1255,
          "ctimeMs": 1577699264920.2615,
          "date": "2020-01-13T13:58:37.697Z"
        },
        {
          "file": "img/icons/soc-fb.svg",
          "mtimeMs": 1570186419970.8557,
          "ctimeMs": 1578923027913.9502,
          "date": "2020-01-13T13:58:38.053Z"
        },
        {
          "file": "img/icons/soc-in.svg",
          "mtimeMs": 1570186419930.8047,
          "ctimeMs": 1578923027913.9502,
          "date": "2020-01-13T13:58:38.386Z"
        },
        {
          "file": "img/icons/soc-vk.svg",
          "mtimeMs": 1570186419712.0156,
          "ctimeMs": 1578923027913.9502,
          "date": "2020-01-13T13:58:38.720Z"
        },
        {
          "file": "img/images/logo-footer.svg",
          "mtimeMs": 1570186420701.1516,
          "ctimeMs": 1577699264974.4812,
          "date": "2020-01-13T13:58:39.034Z"
        },
        {
          "file": "img/images/logo.svg",
          "mtimeMs": 1570186420533.2317,
          "ctimeMs": 1578922221165.9795,
          "date": "2020-01-13T13:58:39.381Z"
        },
        {
          "file": "img/images/pay-1.svg",
          "mtimeMs": 1570186420361.1929,
          "ctimeMs": 1577699264995.495,
          "date": "2020-01-13T13:58:39.691Z"
        },
        {
          "file": "img/images/pay-2.svg",
          "mtimeMs": 1570186420370.1946,
          "ctimeMs": 1577699264997.4956,
          "date": "2020-01-13T13:58:40.056Z"
        },
        {
          "file": "img/images/pay-3.svg",
          "mtimeMs": 1570186420224.162,
          "ctimeMs": 1577699264998.496,
          "date": "2020-01-13T13:58:40.408Z"
        },
        {
          "file": "img/images/pay-4.svg",
          "mtimeMs": 1570186420207.2766,
          "ctimeMs": 1577699265000.4988,
          "date": "2020-01-13T13:58:40.744Z"
        },
        {
          "file": "img/images/pay-5.svg",
          "mtimeMs": 1570186420096.993,
          "ctimeMs": 1577699265001.4983,
          "date": "2020-01-13T13:58:41.088Z"
        },
        {
          "file": "img/images/pay-6.svg",
          "mtimeMs": 1570186420067.9673,
          "ctimeMs": 1577699265002.4995,
          "date": "2020-01-13T13:58:41.442Z"
        },
        {
          "file": "img/revs/text-1.jpg",
          "mtimeMs": 1578923837607.6208,
          "ctimeMs": 1578923837685.751,
          "date": "2020-01-13T13:58:41.831Z"
        },
        {
          "file": "img/revs/text-2.jpg",
          "mtimeMs": 1578923842882.295,
          "ctimeMs": 1578923842896.3032,
          "date": "2020-01-13T13:58:42.244Z"
        },
        {
          "file": "img/revs/text-3.jpg",
          "mtimeMs": 1578923847541.1638,
          "ctimeMs": 1578923847541.1638,
          "date": "2020-01-13T13:58:42.706Z"
        },
        {
          "file": "img/revs/text-4.jpg",
          "mtimeMs": 1578923851934.5637,
          "ctimeMs": 1578923851934.5637,
          "date": "2020-01-13T13:58:43.080Z"
        },
        {
          "file": "img/backs/main-bg.jpg",
          "mtimeMs": 1570186423264.8245,
          "ctimeMs": 1578983734027.5667,
          "date": "2020-01-14T07:20:43.105Z"
        },
        {
          "file": "img/backs/main-decor.svg",
          "mtimeMs": 1570186419421.2678,
          "ctimeMs": 1578983709425.4763,
          "date": "2020-01-14T07:20:43.475Z"
        },
        {
          "file": "img/backs/adv-bg.svg",
          "mtimeMs": 1570186422848.9785,
          "ctimeMs": 1578990059789.1377,
          "date": "2020-01-14T08:47:58.225Z"
        },
        {
          "file": "img/backs/revs-bg.jpg",
          "mtimeMs": 1573723243499.1516,
          "ctimeMs": 1578986972386.6938,
          "date": "2020-01-14T08:09:13.831Z"
        },
        {
          "file": "img/icons/arrow.svg",
          "mtimeMs": 1570186423657.323,
          "ctimeMs": 1578987142379.49,
          "date": "2020-01-14T08:09:14.110Z"
        },
        {
          "file": "img/backs/adv-bg-1.svg",
          "mtimeMs": 1578990446448.0237,
          "ctimeMs": 1578990453903.1519,
          "date": "2020-01-14T08:47:57.315Z"
        },
        {
          "file": "img/backs/adv-bg-2.png",
          "mtimeMs": 1578991560834.9055,
          "ctimeMs": 1578991560834.9055,
          "date": "2020-01-14T08:47:57.611Z"
        },
        {
          "file": "img/backs/adv-bg-2.svg",
          "mtimeMs": 1578990923341.0947,
          "ctimeMs": 1578990929435.475,
          "date": "2020-01-14T08:47:57.940Z"
        },
        {
          "file": "img/icons/adv-11.svg",
          "mtimeMs": 1570186421512.6846,
          "ctimeMs": 1578991710434.6436,
          "date": "2020-01-14T08:49:04.702Z"
        },
        {
          "file": "img/icons/adv-21.svg",
          "mtimeMs": 1570186421611.078,
          "ctimeMs": 1578991733378.9058,
          "date": "2020-01-14T08:49:05.297Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "pug": {
        "pretty": false
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": true
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": true
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist"
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": true
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist"
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\scripts.min.js"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/pug/0.header.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/head.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/main/1.main.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/main/2.advants.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/main/3.revs.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/main/3.text-revs.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/main/4.footer.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/main/4.video-revs.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/main/5.footer.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/main/5.scripts.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/main/6.scripts.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/scripts/body_bottom_scripts.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/scripts/body_top_scripts.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/scripts/chat.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/scripts/head_scripts.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/0.header.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/main/1.main.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/main/2.advants.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/main/3.revs.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/main/3.text-revs.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/main/4.footer.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/main/4.video-revs.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/main/5.footer.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/main/5.medias.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/main/6.medias.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.min.css"
        }
      }
    ]
  }
}
