header
	img.logo-header(src="img/images/logo.svg", alt="Логотип")
	.contacts
		a.contact.contact-tel(href="callto:8 800 700 95 98" target="_blank") 8 800 700 95 98
		.contact-tel-text Бесплатно по России