header
	.container
		a(href="https://mastervision.su", target="_blank")
			img#logo(src="img/logo.png", alt="Логотип")
		.contacts
			a.contact.contact-tel(href="callto:8-929-568-87-50" target="_blank")
				i.fa.fa-phone(aria-hidden="true")
				span 8-929-568-87-50
			a.contact.contact-tel(href="callto:8-499-346-79-46" target="_blank")
				i.fa.fa-phone(aria-hidden="true")
				span 8-499-346-79-46
			a.contact.contact-skype(href="https://join.skype.com/invite/gkwrZmJPOtuf" target="_blank")
				i.fa.fa-skype(aria-hidden="true")
				span support-mastervision
			a.contact.contact-email(href="mailto:info@mastervision.su" target="_blank")
				i.fa.fa-envelope(aria-hidden="true")
				span info@mastervision.su