#revs
	padding 50px 0
	background-color: #FFCA03
	background-image url(../img/backs/revs-bg.jpg)
	background-repeat no-repeat
	background-position: 50% 0
	background-size: cover
#text-revs
	margin-bottom: 50px
.carousel-inner
	width 84%
	margin 0 auto
	.item
		background-color #fff
		img.revs-img
			height 190px
			object-fit: contain
			object-position: center
			display: block;
			margin: 0 auto;
.carousel-control
	top calc(50% - 46px)
	width 64px
	height 64px
	background-color: transparent
	opacity 1
	text-shadow none
	&.left
	&.right
		background-repeat no-repeat
		background-position: center
		background-color: transparent
		background-image url(../img/icons/arrow-prev.svg)
	&.right
		transform: rotateY(180deg)
.carousel-indicators
	position: static
	margin 10px auto 0
	li
		transition: all .3s ease