#omni_widget_iframe_3160-ye51e1n6 {
  bottom: 80px!important;
  right: 10px!important;
}
.grecaptcha-badge{
  visibility: collapse !important;
}
.tnk-title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 35px;
  line-height: 1.2em;
}
.tnk-subtitle {
  margin-bottom: 44px;
  font-size: 24px;
  line-height: 1.6em;
}