mixin adv(cl,h4,p)
	.col-md-3.col-sm-3
		.advantage(class=cl)
			h4.advantage-title=h4
			p.advantage-text=p

section#advantages
	.container
		+gt('','Преимущества клуба путешественников')
		.row
			+adv('advantage-1','Апартаменты на четверых человек','Можно поехать с семьей или друзьями')
			+adv('advantage-2','Новый формат отдыха','Устали от пакетных туров, а покупать недвижимость за границей дорого и невыгодно')
			+adv('advantage-3','Карта путешественника на всю жизнь','Можно ездить как самому, так и отправлять на отдых своих друзей')
			+adv('advantage-4','Открываются новые страны','Клуб путешественников постоянно развивается, появляются новые места и локации')