footer
	.footer-row-top
		.container
			.row
				.col-md-4.col-sm-4
					img.logo-footer(src="img/images/logo-footer.svg", alt="Логотип")
				.col-md-4.col-sm-4
					.footer-documents
						a.footer-document-link(href="/docs/policy.pdf" target="_blank") Политика конфиденциальности
						a.footer-document-link(href="/docs/agreement.pdf" target="_blank") Пользовательское соглашение
						a.footer-document-link(href="/docs/rules.pdf" target="_blank") Условия использования сайта
				.col-lg-2.col-md-3.col-sm-4.col-lg-offset-2.col-md-offset-1.col-sm-offset-0
					a.contact-tel-footer(href="callto:8 800 700 95 98" target="_blank") 8 800 700 95 98
					.footer-soc-buttons
						a.soc-button.soc-button-fb(href="https://www.facebook.com/Week-Travel-119528209443697/" target="_blank")
						a.soc-button.soc-button-vk(href="https://vk.com/week.travel" target="_blank")
						a.soc-button.soc-button-insta(href="https://www.instagram.com/week.travel/" target="_blank")
	.footer-row-lower
		.container
			.row
				.col-md-6.col-sm-6
					.footer-payment-images
						img.footer-payment-img(src="img/images/pay-1.svg", alt="Visa")
						img.footer-payment-img(src="img/images/pay-2.svg", alt="MasterCard")
						img.footer-payment-img(src="img/images/pay-3.svg", alt="MasterCard")
						img.footer-payment-img(src="img/images/pay-4.svg", alt="Мир")
						img.footer-payment-img(src="img/images/pay-5.svg", alt="Яндекс.Деньги")
						img.footer-payment-img(src="img/images/pay-6.svg", alt="Qiwi")
				.col-md-6.col-sm-6
					p.footer-copyright Copyright © 2020 Week.Travel. Все права защищены