<!-- AutoWebOffice: UTM or OpenStat Counter -->
script(type="text/javascript")
	| var url = "https://shop.mastervision.su/?r=api/utmopenstat";
script(type="text/javascript" src="https://shop.mastervision.su/js/utm_openstat.js" defer="defer")
<!-- /AutoWebOffice: UTM or OpenStat Counter -->