<!-- Start of Omnidesk Widget script {literal}-->
script
	| !function(e,o){!window.omni?window.omni=[]:'';window.omni.push(o);o.g_config={widget_id:"3160-ye51e1n6"}; o.email_widget=o.email_widget||{};var w=o.email_widget;w.readyQueue=[];o.config=function(e){ this.g_config.user=e};w.ready=function(e){this.readyQueue.push(e)};var r=e.getElementsByTagName("script")[0];c=e.createElement("script");c.type="text/javascript",c.async=!0;c.src="https://omnidesk.ru/bundles/acmesite/js/cwidget0.2.min.js";r.parentNode.insertBefore(c,r)}(document,[]);
<!-- End of Omnidesk Widget script {/literal}-->